@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex align-items-center">
    <div class="text-center container">
        <div class="container align-content-center">
            <img src="~/Content/Images/external-content.duckduckgo.com.png" class="landing-image" />
            <h2>Welcome to the Universtiy Website!</h2>
            <p>Please <a href="/Account/Login" class="text-color-primary">login</a> or <a href="/Account/Register" class="text-color-secondary">register</a> to continue.</p>
        </div>
    </div>
</div>