<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">
            <img src="~/Content/Images/external-content.duckduckgo.com.png" width="50" height="50" class="d-inline-block align-top" alt="" />
        </a>
        <a class="navbar-brand" href="/Home/Index">University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login"><text class="text-color-primary">Login</text></a>
                </li>
                <li class="nav-item">
                     <a class="nav-link nav-border-left" href="/Account/Register"><text class="text-color-secondary">Register</text></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

