
@{
    ViewBag.Title = "Registration";
}




<head>

    <title>Registration</title>
    <link href="~/Content/Register.css" rel="stylesheet" />
</head>

<body>

    <h1>Register Here!!</h1>

    <form name="reg">

        <label for="FirstName">First Name</label><br />

        <input name="FirstName" id="FirstName" type="text"
               placeholder="First Name"><br />

        <label for="LastName">Last Name</label><br />

        <input name="LastName" id="LastName" type="text"
               placeholder="Last Name"> <br />

        <label for="Age">Age</label><br />

        <input name="Age" id="Age" type="text"
               placeholder="Age"><br />

        <label for="Gender">Gender</label><br />

        <input name="Gender" id="Gender" type="text"
               placeholder="Gender"><br />

        <label for="ContactNumber">Contact Number</label><br />

        <input name="ContactNumber" id="ContactNumber" type="text"
               placeholder="Contact Number"><br />

        <label for="UserName">User Name</label><br />

        <input name="UserName" id="UserName" type="text"
               placeholder="User Name"><br />

        <label for="Password">Password</label><br />

        <input name="password" id="password" type="password"
               placeholder="Password"><br />

        <input type="submit" value="Register" class="btn btn-default" />

    </form>

</body>

